.btn {
  border: 4px solid black;
  font-size: 2.5rem;
  background: none;
  text-transform: capitalize;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: rgb(154, 164, 0);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(disabled),
.btn:focus:not(disabled) {
  color: black;
  background-color: rgba(251, 255, 0, 0.989);
}
